/target/classes
/target/cljsbuild
/target/stale
/lib
/classes
/checkouts
pom.xml
*.jar
*.class
/.lein-*
profiles.clj
/.env
*.log

*.pem

pom.xml.asc
.nrepl-port


resources/reschedul/public/js*
reschedul.log.*
seeddata*
